#about {
  height: auto;
  background-image: url(../../img/helens.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-h1 {
  font-size: 80px;
  color: #101727;
  margin: 100px 20px;
}

@media (max-width: 1040px) {
  .hero-h1 {
    font-size: 50px;
    margin: 50px 20px;
  }
}
@media (max-width: 500px) {
  .hero-h1 {
    font-size: 30px;
  }
}

.about-header {
  font-size: 50px;
  color: orange;
}

.image {
  width: 400px;
  height: auto;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (min-width: 100px) {
  .about-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .wrapper {
    padding: 15px;
  }
  .image {
    margin-bottom: 50px;
  }
}
@media (min-width: 700px) {
  .about-grid {
    grid-template-columns: 1fr 1fr;
  }
  .wrapper {
    padding: 70px;
  }
}
